# Vector Exercise

In [2]:
weight <- c(71, 67, 83, 67)
height <- c(1.75, 1.81, 1.78, 1.82, 1.97, 2.12, 2.75)
BMI <- weight/height
BMI

Warning message in weight/height:
“longer object length is not a multiple of shorter object length”

[1] 40.57143 37.01657 46.62921 36.81319 36.04061 31.60377 30.18182

In [7]:
atk <- c(3000, NA, NA, NA, NA, 4000, 3000, 5000, 1000, 5000)
attributes(atk)
cards <- c("Blue-Eyes White Dragon", "Exodius", "The Winged Dragon of Ra", "Raigeki", 
           "Slifer the Sky Dragon", "Obelisk the Tormentor", "Black Luster Soldier", 
           "5-Headed Dragon", "Exodia the Forbidden One", "Dragon Master Knight")
names(atk) <- cards
atk

NULL

  Blue-Eyes White Dragon                  Exodius  The Winged Dragon of Ra
                    3000                       NA                       NA
                 Raigeki    Slifer the Sky Dragon    Obelisk the Tormentor
                      NA                       NA                     4000
    Black Luster Soldier          5-Headed Dragon Exodia the Forbidden One
                    3000                     5000                     1000
    Dragon Master Knight
                    5000

In [13]:
#1
print("This is point 1")
atk[6]
#2
print("This is point 2")
atk[-2]
#3
print("This is point 3")
atk[c(1,3,5,7,9)]
#4
print("This is point 4")
atk[c(-4,-5,-6)]
#5
print("This is point 5")
atk[atk>2000]

[1] "This is point 1"

Obelisk the Tormentor
                 4000

[1] "This is point 2"

  Blue-Eyes White Dragon  The Winged Dragon of Ra                  Raigeki
                    3000                       NA                       NA
   Slifer the Sky Dragon    Obelisk the Tormentor     Black Luster Soldier
                      NA                     4000                     3000
         5-Headed Dragon Exodia the Forbidden One     Dragon Master Knight
                    5000                     1000                     5000

[1] "This is point 3"

  Blue-Eyes White Dragon  The Winged Dragon of Ra    Slifer the Sky Dragon
                    3000                       NA                       NA
    Black Luster Soldier Exodia the Forbidden One
                    3000                     1000

[1] "This is point 4"

  Blue-Eyes White Dragon                  Exodius  The Winged Dragon of Ra
                    3000                       NA                       NA
    Black Luster Soldier          5-Headed Dragon Exodia the Forbidden One
                    3000                     5000                     1000
    Dragon Master Knight
                    5000

[1] "This is point 5"

Blue-Eyes White Dragon                   <NA>                   <NA>
                  3000                     NA                     NA
                  <NA>                   <NA>  Obelisk the Tormentor
                    NA                     NA                   4000
  Black Luster Soldier        5-Headed Dragon   Dragon Master Knight
                  3000                   5000                   5000

In [24]:
s <- seq(from = 2 , to = 30 , by = 2)
attributes(s)
dim(s) <- c(3,5)
s

NULL

     [,1] [,2] [,3] [,4] [,5]
[1,] 2     8   14   20   26
[2,] 4    10   16   22   28
[3,] 6    12   18   24   30

# Matrices Exercise

In [50]:
Player <- c(rep(x =c("dark"),5) ,rep(x =c("light"),5))
Piece <- c("king","queen","pawn","pawn","knight","bishop","king","rook","pawn","pawn")

chess <- matrix(data = c(Player,Piece),nrow = 10,dimnames = list(NULL,c("Player","Piece")))
chess

      Player Piece
 [1,] dark   king
 [2,] dark   queen
 [3,] dark   pawn
 [4,] dark   pawn
 [5,] dark   knight
 [6,] light  bishop
 [7,] light  king
 [8,] light  rook
 [9,] light  pawn
[10,] light  pawn

In [41]:
chess.bind <- cbind(Player,Piece)
chess.bind

      Player Piece
 [1,] dark   king
 [2,] dark   queen
 [3,] dark   pawn
 [4,] dark   pawn
 [5,] dark   knight
 [6,] light  bishop
 [7,] light  king
 [8,] light  rook
 [9,] light  pawn
[10,] light  pawn

In [51]:
chess <- t(chess)
new.row <- c(3, 5, 2, 2, 7, 4, 6, 5, 2, 1)
chess <- rbind(chess , new.row)
chess

        [,1] [,2]  [,3] [,4] [,5]   [,6]   [,7]  [,8]  [,9]  [,10]
Player  dark dark  dark dark dark   light  light light light light
Piece   king queen pawn pawn knight bishop king  rook  pawn  pawn
new.row 3    5     2    2    7      4      6     5     2     1

In [52]:
chess <- t(chess)

In [53]:
chess

      Player Piece  new.row
 [1,] dark   king   3
 [2,] dark   queen  5
 [3,] dark   pawn   2
 [4,] dark   pawn   2
 [5,] dark   knight 7
 [6,] light  bishop 4
 [7,] light  king   6
 [8,] light  rook   5
 [9,] light  pawn   2
[10,] light  pawn   1

In [71]:
#The first piece of the light player
chess[6,2]

   Piece
"bishop"

In [77]:
#The Player and Piece columns
chess[,1:2]
#OR
#chess[,c(1,2)]
#OR
#chess[,c("Player","Piece")]

      Player Piece
 [1,] dark   king
 [2,] dark   queen
 [3,] dark   pawn
 [4,] dark   pawn
 [5,] dark   knight
 [6,] light  bishop
 [7,] light  king
 [8,] light  rook
 [9,] light  pawn
[10,] light  pawn

In [62]:
#All the information about the dark player
chess[1:5,]

     Player Piece  new.row
[1,] dark   king   3
[2,] dark   queen  5
[3,] dark   pawn   2
[4,] dark   pawn   2
[5,] dark   knight 7

In [78]:
#The Pieces column; try to extract that as a matrix (Hint: lookup the drop = argument)
chess[,2,drop = FALSE]

      Piece
 [1,] king
 [2,] queen
 [3,] pawn
 [4,] pawn
 [5,] knight
 [6,] bishop
 [7,] king
 [8,] rook
 [9,] pawn
[10,] pawn

In [66]:
#Everything but the Piece column
chess[,(-2)]

      Player new.row
 [1,] dark   3
 [2,] dark   5
 [3,] dark   2
 [4,] dark   2
 [5,] dark   7
 [6,] light  4
 [7,] light  6
 [8,] light  5
 [9,] light  2
[10,] light  1

In [67]:
#The 1st and 3rd values on the second row
chess[2,c(1,3)]

 Player new.row
 "dark"     "5"

In [69]:
#Replace the 3rd value on the 7th row with 3 (Hint: works just like creating an object)
chess[7,3] =6

In [70]:
chess

      Player Piece  new.row
 [1,] dark   king   3
 [2,] dark   queen  5
 [3,] dark   pawn   2
 [4,] dark   pawn   2
 [5,] dark   knight 7
 [6,] light  bishop 4
 [7,] light  king   6
 [8,] light  rook   5
 [9,] light  pawn   2
[10,] light  pawn   1

In [2]:
mat.if <- matrix(data = runif(n = 12 , min = 1 , max = 12) , byrow = T , nrow = 3 , ncol = 4)
mat.if

     [,1]     [,2]      [,3]     [,4]
[1,] 7.111733  3.639093 1.481887  8.867802
[2,] 7.955120  8.230032 4.767058  8.184387
[3,] 3.761493 11.969821 1.358835 10.209225

In [3]:
colnames(mat.if ) <- c("uno", "dos", "tres", "cuatro")
row.names(mat.if) <- c("x","y","z")

In [4]:
mat.if

  uno      dos       tres     cuatro
x 7.111733  3.639093 1.481887  8.867802
y 7.955120  8.230032 4.767058  8.184387
z 3.761493 11.969821 1.358835 10.209225

In [5]:
#Scale the matrix by 10 and save the result.
mat.if * 10
mat.if

  uno      dos       tres     cuatro
x 71.11733  36.39093 14.81887  88.67802
y 79.55120  82.30032 47.67058  81.84387
z 37.61493 119.69821 13.58835 102.09225

  uno      dos       tres     cuatro
x 7.111733  3.639093 1.481887  8.867802
y 7.955120  8.230032 4.767058  8.184387
z 3.761493 11.969821 1.358835 10.209225

In [8]:
# Extract a 2x4 matrix from it and save the result.
new.mat.if <- mat.if[0:2,0:4]

In [9]:
sub.mat <- mat.if - new.mat.if
sub.mat

ERROR: Error in mat.if - new.mat.if: non-conformable arrays

In [10]:
matty <- matrix(data = rnorm(n = 25),byrow = TRUE , nrow = 5)
matty2 <- matrix(data = runif(n = 25,min = 1 , max = 25),byrow = TRUE , nrow = 5)

In [11]:
#Column averages
print("Column Averages")
col.avg.matty <- colMeans(matty)
col.avg.matty2 <- colMeans(matty2)
#Row averages
print("Row Averages")
row.avg.matty <- rowMeans(matty)
row.avg.matty2 <- rowMeans(matty2)
#Column sums
col.sum.matty <- colSums(matty)
col.sum.matty2 <- colSums(matty2)
#Row sums
row.sum.matty <- rowSums(matty)
row.sum.matty2 <- rowSums(matty2)
#Minimum and maximum value in the matrix
max(matty[,3])
min(matty[,3])

[1] "Column Averages"

# List Exercise

In [22]:
li <- list(seq(from = 1, to = 11 , by = 2),c("Happy Birthday","Archery"))

In [28]:
# Extract the numbers as a vector.
li[[1]]

[1]  1  3  5  7  9 11

In [37]:
#Extract the phrase Happy Birthday as a vector.
hbv <- li[[2]][[1]]

In [32]:
#Extract the second item of the second list as a list.
li[[2]][[2]]

[1] "Archery"

In [33]:
#Extract the second list as a list.
li[[2]]

[1] "Happy Birthday" "Archery"

In [38]:
#extract the numbers item as a list
numbers <- li[1]
numbers

[[1]]
[1]  1  3  5  7  9 11

In [39]:
li[[1]] <- li[[1]] + 2
li[[1]]

[1]  3  5  7  9 11 13

In [40]:
names(li) <- c("Numbers", "Phrases")
li

$Numbers
[1]  3  5  7  9 11 13

$Phrases
[1] "Happy Birthday" "Archery"

# Loops Exercise

In [44]:
x <- 67
if(x>=1 & x<60){
    print("Rotten!")
}else if(x>60 & x<75){
    print("fresh")
}else{
    print("Certified fresh")
}

[1] "fresh"

moms.number <- 2324
lottery.number <- sample(x = 2000:2400 , 1)
if(lottery.number==moms.number){
    print("Mom You Won")
}else{
    print("try next year")
}

In [46]:
sum <- 0
for (vals in 1:10){
    sum <- sum + vals
}

print(sum)

[1] 55

# DataFrames Exercise

In [51]:
df <- data.frame(months.old = months.old <-c(53,19,34,41,84,140,109),size = size <- c("medium","small","medium","large","small","small","large"),Weight = Weight <- c(21,8,4,6,7,2,36),breed = breed <- c("dog","dog","cat","cat","dog","cat","dog"),stringsAsFactors = FALSE)

In [52]:
df

  months.old size   Weight breed
1  53        medium 21     dog
2  19        small   8     dog
3  34        medium  4     cat
4  41        large   6     cat
5  84        small   7     dog
6 140        small   2     cat
7 109        large  36     dog

In [53]:
rownames(df) <- c("Flipper","Bromley","Nox","Orion","Dagger","Zizi","Carrie")

In [54]:
df

        months.old size   Weight breed
Flipper  53        medium 21     dog
Bromley  19        small   8     dog
Nox      34        medium  4     cat
Orion    41        large   6     cat
Dagger   84        small   7     dog
Zizi    140        small   2     cat
Carrie  109        large  36     dog

# Data Import Method

In [56]:
csv.data <- read.csv(file = '/Users/sahilnagpal/Downloads/employee-data.csv',sep = ',',nrows = 200,skip = 23)

In [58]:
names(csv.data) <- c("Employee number", "First name", "Last name", "Birth date", "Gender", "Job title", "Salary", "From date", "To date")

In [59]:
csv.data

    Employee number First name Last name    Birth date Gender
1   10001           Georgi     Facello      02/09/1953 M
2   10002           Bezalel    Simmel       02/06/1964 F
3   10003           Parto      Bamford      03/12/1959 M
4   10004           Chirstian  Koblick      01/05/1954 M
5   10005           Kyoichi    Maliniak     21/01/1955 M
6   10006           Anneke     Preusig      20/04/1953 F
7   10007           Tzvetan    Zielinski    23/05/1957 F
8   10008           Saniya     Kalloufi     19/02/1958 M
9   10009           Sumant     Peac         19/04/1952 F
10  10010           Duangkaew  Piveteau     01/06/1963 F
11  10011           Mary       Sluis        07/11/1953 F
12  10012           Patricio   Bridgland    04/10/1960 M
13  10013           Eberhardt  Terkki       07/06/1963 M
14  10014           Berni      Genin        12/02/1956 M
15  10015           Guoxiang   Nooteboom    19/08/1959 M
16  10016           Kazuhito   Cappelletti  02/05/1961 M
17  10017           Cristinel  Bouloucos    06/07/1958 F
18  10018           Kazuhide   Peha         19/06/1954 F
19  10019           Lillian    Haddadi      23/01/1953 M
20  10020           Mayuko     Warwick      24/12/1952 M
21  10021           Ramzi      Erde         20/02/1960 M
22  10022           Shahaf     Famili       08/07/1952 M
23  10023           Bojan      Montemayor   29/09/1953 F
24  10024           Suzette    Pettey       05/09/1958 F
25  10025           Prasadram  Heyers       31/10/1958 M
26  10026           Yongqiao   Berztiss     03/04/1953 M
27  10027           Divier     Reistad      10/07/1962 F
28  10028           Domenick   Tempesti     26/11/1963 M
29  10029           Otmar      Herbst       13/12/1956 M
30  10030           Elvis      Demeyer      14/07/1958 M
⋮   ⋮               ⋮          ⋮            ⋮          ⋮
171 10171           Herbert    Trachtenberg 11/09/1957 M
172 10172           Shigeu     Matzen       25/03/1957 F
173 10173           Shrikanth  Mahmud       28/10/1962 M
174 10174           Badri      Furudate     15/05/1959 M
175 10175           Aleksandar Ananiadou    11/01/1960 F
176 10176           Brendon    Lenart       24/01/1957 F
177 10177           Pragnesh   Iisaka       08/11/1954 M
178 10178           Valery     Litvinov     13/03/1963 M
179 10179           Deniz      Duclos       25/11/1961 F
180 10180           Shaw       Wendorf      29/01/1956 M
181 10181           Sibyl      Nooteboom    22/01/1963 M
182 10182           Moriyoshi  Merey        04/02/1961 F
183 10183           Mechthild  Bonifati     17/10/1954 M
184 10184           Mihalis    Lowrie       22/05/1957 M
185 10185           Duro       Sidhu        05/12/1959 F
186 10186           Shigehito  Kropatsch    16/07/1953 M
187 10187           Tommaso    Narwekar     26/05/1961 F
188 10188           Christ     Muchinsky    13/07/1956 F
189 10189           Khalid     Erva         12/11/1955 M
190 10190           Arve       Fairtlough   11/12/1964 F
191 10191           Zdislav    Nastansky    08/04/1959 M
192 10192           Mohua      Falck        16/09/1960 M
193 10193           Masaru     Cheshire     29/06/1960 M
194 10194           Josyula    Hofmeyr      29/01/1954 F
195 10195           Annemarie  Redmiles     13/11/1963 M
196 10196           Marc       Hellwagner   27/01/1954 M
197 10197           Kasidit    Krzyzanowski 06/08/1963 F
198 10198           Pranav     Furedi       28/05/1953 M
199 10199           Kazuhisa   Ranta        07/04/1959 M
200 10200           Vidya      Awdeh        31/12/1961 M
    Job title          Salary From date  To date
1   Senior Engineer    60117  22/06/2010 01/01/9999
2   Staff              65828  02/08/2001 01/01/9999
3   Senior Engineer    40006  01/12/2001 01/01/9999
4   Engineer           40054  27/11/2001 01/01/9999
5   Senior Staff       78228  09/09/2001 01/01/9999
6   Senior Engineer    40000  02/08/2001 01/01/9999
7   Senior Staff       56724  07/02/2002 01/01/9999
8   Assistant Engineer 46671  10/03/2000 31/07/2000
9   Assistant Engineer 60929  14/02/2002 01/01/9999
10  Engineer           72488  23/11/2001 01/01/9999
11  Staff              42365  21/01/1996 09/11/1996
12  Engineer           40000  16/12/2001 01/01/9999
13  Senior Staff       40000  16/10/2001 01/01/9999
14  Engineer           46168  27/12/2001 01/01/9999
15  Senior Staff       40000  19/09/1992 22/08/1993
16  Staff              70889  10/02/2002 01/01/9999
17  Senior Staff       71380  01/08/2002 01/01/9999
18  Engineer           55881  30/03/2002 01/01/9999
19  Staff              44276  29/04/2002 01/01/9999
20  Engineer           40000  29/12/2001 01/01/9999
21  Technique Leader   55025  06/02/2002 15/07/2002
22  Engineer           40000  02/09/2001 01/01/9999
23  Engineer           47883  26/09/2001 01/01/9999
24  Assistant Engineer 83733  13/06/2002 01/01/9999
25  Technique Leader   40000  14/08/1997 15/10/1997
26  Engineer           47585  18/03/2002 01/01/9999
27  Engineer           40000  31/03/2002 01/01/9999
28  Engineer           48859  20/10/1997 06/04/1998
29  Engineer           63163  15/09/2001 01/01/9999
30  Engineer           66956  15/02/2002 01/01/9999
⋮   ⋮                  ⋮      ⋮          ⋮
171 Technique Leader   41311  04/08/2001 01/01/9999
172 Engineer           41197  03/02/2002 01/01/9999
173 Senior Staff       85757  19/03/2002 01/01/9999
174 Engineer           59520  28/05/2002 01/01/9999
175 Staff              72285  23/09/1994 24/05/1995
176 Senior Staff       54635  20/12/2001 01/01/9999
177 Staff              48041  06/02/1994 17/03/1994
178 Staff              50568  19/03/2002 01/01/9999
179 Engineer           40000  24/01/2002 01/01/9999
180 Senior Staff       52444  29/06/2002 01/01/9999
181 Senior Engineer    40000  19/06/2002 01/01/9999
182 Engineer           40380  30/08/2001 01/01/9999
183 Staff              40000  10/08/2001 01/01/9999
184 Staff              48586  25/12/2001 01/01/9999
185 Senior Staff       68334  25/02/2002 01/01/9999
186 Staff              40000  25/12/1996 16/08/1997
187 Senior Staff       71454  29/05/2002 01/01/9999
188 Senior Engineer    62365  23/08/2001 01/01/9999
189 Engineer           41222  13/09/1992 29/06/1993
190 Engineer           40000  19/06/2002 01/01/9999
191 Senior Engineer    40000  05/04/2002 01/01/9999
192 Engineer           40000  10/06/2002 01/01/9999
193 Engineer           48733  20/09/2001 01/01/9999
194 Senior Staff       64941  13/02/2002 01/01/9999
195 Engineer           40000  11/02/2001 14/04/2001
196 Staff              86671  30/01/2002 01/01/9999
197 Engineer           40000  26/06/2002 01/01/9999
198 Engineer           44076  27/08/2001 01/01/9999
199 Staff              42042  06/02/2002 01/01/9999
200 Engineer           46879  15/02/2002 01/01/9999

In [60]:
nrow(csv.data)

[1] 200

In [61]:
ncol(csv.data)

[1] 9

# Dplyr Exercise

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.2     ✔ dplyr   0.8.1
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [7]:
employee.data <- read.csv(file = '/Users/sahilnagpal/Downloads/employee-data.csv',sep = ',',nrows = 200,skip = 23)
emp.tib <- as_tibble(employee.data)

In [6]:
str(emp.tib)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	200 obs. of  9 variables:
 $ emp_no              : int  10001 10002 10003 10004 10005 10006 10007 10008 10009 10010 ...
 $ first_name          : Factor w/ 188 levels "Abdulah","Adamantios",..: 55 23 126 30 95 9 165 143 159 43 ...
 $ last_name           : Factor w/ 184 levels "Aingworth","Aloisi",..: 47 155 12 81 98 135 181 79 123 132 ...
 $ birth_date          : Factor w/ 197 levels "01/04/1958","01/05/1954",..: 11 10 21 2 130 126 142 115 116 3 ...
 $ gender              : Factor w/ 2 levels "F","M": 2 1 2 2 2 1 1 2 1 1 ...
 $ title               : Factor w/ 6 levels "Assistant Engineer",..: 3 5 3 2 4 3 4 1 1 2 ...
 $ salary              : int  60117 65828 40006 40054 78228 40000 56724 46671 60929 72488 ...
 $ latest_start_date   : Factor w/ 171 levels "01/01/1989","01/01/2002",..: 120 12 6 150 38 12 31 42 73 128 ...
 $ end_of_contract_date: Factor w/ 40 levels "01/01/9999","01/11/1998",..: 1 1 1 1 1 1 1 39 1 1 ...

In [7]:
any(is.na(emp.tib))

[1] FALSE

In [8]:
# Arrange the dataset by gender, then last name, and make first_name, last_name, 
# and gender the first three variables in the data frame. Show only the employees whose salary is higher than 70,000.

arr.data <- emp.tib %>%
select(ends_with("name"), gender , everything()) %>%
filter(salary>70000) %>%
arrange(gender,last_name)

In [84]:
arr.data

   first_name last_name     gender emp_no birth_date title              salary
1  Aleksandar Ananiadou     F      10175  11/01/1960 Staff              72285
2  Dung       Baca          F      10107  13/06/1956 Senior Staff       93159
3  Cristinel  Bouloucos     F      10017  06/07/1958 Senior Staff       71380
4  Xinglin    Eugenio       F      10087  23/07/1959 Staff              96750
5  Alejandro  McAlpine      F      10059  19/09/1953 Senior Staff       71218
6  Tommaso    Narwekar      F      10187  26/05/1961 Senior Staff       71454
7  Zhenbing   Perng         F      10150  29/01/1955 Engineer           70122
8  Xiadong    Perry         F      10149  20/05/1953 Staff              88740
9  Suzette    Pettey        F      10024  05/09/1958 Assistant Engineer 83733
10 Duangkaew  Piveteau      F      10010  01/06/1963 Engineer           72488
11 Sampalli   Snedden       F      10169  03/05/1961 Engineer           70303
12 Magy       Stamatiou     F      10042  26/02/1956 Senior Staff       81662
13 Breannda   Billingsley   M      10060  15/10/1961 Senior Staff       74686
14 Charlene   Brattka       M      10068  26/11/1962 Senior Staff       87964
15 Kazuhito   Cappelletti   M      10016  02/05/1961 Staff              70889
16 Yinghua    Dredge        M      10050  21/05/1958 Senior Staff       74366
17 Georgy     Dredge        M      10055  06/06/1956 Staff              80024
18 Somnath    Foote         M      10086  19/11/1962 Senior Staff       81613
19 Marc       Hellwagner    M      10196  27/01/1954 Staff              86671
20 Debatosh   Khasidashvili M      10160  18/10/1953 Senior Staff       91622
21 Itzchak    Lichtner      M      10151  06/03/1959 Senior Staff       90741
22 Shrikanth  Mahmud        M      10173  28/10/1962 Senior Staff       85757
23 Kyoichi    Maliniak      M      10005  21/01/1955 Senior Staff       78228
24 Zissis     Pintelas      M      10136  14/09/1961 Senior Staff       82420
25 Hinrich    Randi         M      10123  12/05/1962 Assistant Engineer 71524
   latest_start_date end_of_contract_date
1  23/09/1994        24/05/1995
2  29/03/2002        01/01/9999
3  01/08/2002        01/01/9999
4  07/05/2000        09/01/2001
5  23/06/2002        01/01/9999
6  29/05/2002        01/01/9999
7  12/11/2001        01/01/9999
8  28/01/1996        27/08/1996
9  13/06/2002        01/01/9999
10 23/11/2001        01/01/9999
11 27/06/2002        01/01/9999
12 19/03/2000        10/08/2000
13 25/05/2002        01/01/9999
14 03/08/2001        01/01/9999
15 10/02/2002        01/01/9999
16 22/12/2001        01/01/9999
17 27/04/1995        22/07/1995
18 16/02/2002        01/01/9999
19 30/01/2002        01/01/9999
20 04/12/2001        01/01/9999
21 10/12/2001        01/01/9999
22 19/03/2002        01/01/9999
23 09/09/2001        01/01/9999
24 11/06/1999        20/09/1999
25 13/01/2002        01/01/9999

In [85]:
salary.em.data <- subset(arr.data,salary>70000)

In [103]:
head(salary.em.data)

  first_name last_name gender emp_no birth_date title        salary
1 Aleksandar Ananiadou F      10175  11/01/1960 Staff        72285
2 Dung       Baca      F      10107  13/06/1956 Senior Staff 93159
3 Cristinel  Bouloucos F      10017  06/07/1958 Senior Staff 71380
4 Xinglin    Eugenio   F      10087  23/07/1959 Staff        96750
5 Alejandro  McAlpine  F      10059  19/09/1953 Senior Staff 71218
6 Tommaso    Narwekar  F      10187  26/05/1961 Senior Staff 71454
  latest_start_date end_of_contract_date
1 23/09/1994        24/05/1995
2 29/03/2002        01/01/9999
3 01/08/2002        01/01/9999
4 07/05/2000        09/01/2001
5 23/06/2002        01/01/9999
6 29/05/2002        01/01/9999

In [15]:
#Find out how much each position (title) earns on average by gender; create a new variable that represents the average monthly figures and 
#arrange your result by gender and average monthly salary, from largest to smallest.


summ.data <- arr.data %>%
group_by(title,gender)%>%
summarise(avg.salary = mean(salary , na.rm = TRUE)) %>%
mutate(avg.mon.sal = avg.salary/12)%>%
arrange(gender,desc(avg.mon.sal))

In [110]:
summ.data

  title              gender avg.salary avg.mon.sal
1 Staff              F      85925.00   7160.417
2 Assistant Engineer F      83733.00   6977.750
3 Senior Staff       F      77774.60   6481.217
4 Engineer           F      70971.00   5914.250
5 Senior Staff       M      83044.11   6920.343
6 Staff              M      79194.67   6599.556
7 Assistant Engineer M      71524.00   5960.333

In [1]:
vb <- c(1,2,3,4)

In [4]:
vb <- append(vb,'july')

In [5]:
vb

[1] "1"    "2"    "3"    "4"    "july"

In [20]:
#Find out how much each position (title) earns on average by gender; create a new variable 
#that represents the average monthly figures and 
#arrange your result by gender and average monthly salary, from largest to smallest.

posi.salary <- arr.data %>%
group_by(title , gender)%>%
summarise(avg.salary = mean(salary , na.rm = TRUE))%>%
mutate(month.salary = avg.salary/12)%>%
arrange(gender)

In [16]:
main.data <- read.csv(file = '/Users/sahilnagpal/Downloads/employee-data.csv',sep = ',',nrows = 200,skip = 23)
head(main.data)

  emp_no first_name last_name birth_date gender title           salary
1 10001  Georgi     Facello   02/09/1953 M      Senior Engineer 60117
2 10002  Bezalel    Simmel    02/06/1964 F      Staff           65828
3 10003  Parto      Bamford   03/12/1959 M      Senior Engineer 40006
4 10004  Chirstian  Koblick   01/05/1954 M      Engineer        40054
5 10005  Kyoichi    Maliniak  21/01/1955 M      Senior Staff    78228
6 10006  Anneke     Preusig   20/04/1953 F      Senior Engineer 40000
  latest_start_date end_of_contract_date
1 22/06/2010        01/01/9999
2 02/08/2001        01/01/9999
3 01/12/2001        01/01/9999
4 27/11/2001        01/01/9999
5 09/09/2001        01/01/9999
6 02/08/2001        01/01/9999

In [17]:
main.data <- as_tibble(main.data)

In [18]:
str(main.data)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	200 obs. of  9 variables:
 $ emp_no              : int  10001 10002 10003 10004 10005 10006 10007 10008 10009 10010 ...
 $ first_name          : Factor w/ 188 levels "Abdulah","Adamantios",..: 55 23 126 30 95 9 165 143 159 43 ...
 $ last_name           : Factor w/ 184 levels "Aingworth","Aloisi",..: 47 155 12 81 98 135 181 79 123 132 ...
 $ birth_date          : Factor w/ 197 levels "01/04/1958","01/05/1954",..: 11 10 21 2 130 126 142 115 116 3 ...
 $ gender              : Factor w/ 2 levels "F","M": 2 1 2 2 2 1 1 2 1 1 ...
 $ title               : Factor w/ 6 levels "Assistant Engineer",..: 3 5 3 2 4 3 4 1 1 2 ...
 $ salary              : int  60117 65828 40006 40054 78228 40000 56724 46671 60929 72488 ...
 $ latest_start_date   : Factor w/ 171 levels "01/01/1989","01/01/2002",..: 120 12 6 150 38 12 31 42 73 128 ...
 $ end_of_contract_date: Factor w/ 40 levels "01/01/9999","01/11/1998",..: 1 1 1 1 1 1 1 39 1 1 ...

In [19]:
main.data$gender <- as.factor(main.data$gender)

In [20]:
str(main.data)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	200 obs. of  9 variables:
 $ emp_no              : int  10001 10002 10003 10004 10005 10006 10007 10008 10009 10010 ...
 $ first_name          : Factor w/ 188 levels "Abdulah","Adamantios",..: 55 23 126 30 95 9 165 143 159 43 ...
 $ last_name           : Factor w/ 184 levels "Aingworth","Aloisi",..: 47 155 12 81 98 135 181 79 123 132 ...
 $ birth_date          : Factor w/ 197 levels "01/04/1958","01/05/1954",..: 11 10 21 2 130 126 142 115 116 3 ...
 $ gender              : Factor w/ 2 levels "F","M": 2 1 2 2 2 1 1 2 1 1 ...
 $ title               : Factor w/ 6 levels "Assistant Engineer",..: 3 5 3 2 4 3 4 1 1 2 ...
 $ salary              : int  60117 65828 40006 40054 78228 40000 56724 46671 60929 72488 ...
 $ latest_start_date   : Factor w/ 171 levels "01/01/1989","01/01/2002",..: 120 12 6 150 38 12 31 42 73 128 ...
 $ end_of_contract_date: Factor w/ 40 levels "01/01/9999","01/11/1998",..: 1 1 1 1 1 1 1 39 1 1 ...

In [24]:
stats <- main.data %>%
group_by(title,gender) %>%
summarise(avg.salary = mean(salary , na.rm = TRUE)) %>%
mutate(month.sal <- avg.salary/12 ) %>%
arrange(gender)

In [25]:
stats

   title              gender avg.salary month.sal <- avg.salary/12
1  Assistant Engineer F      63014.00   5251.167
2  Engineer           F      47656.61   3971.384
3  Senior Engineer    F      45535.22   3794.602
4  Senior Staff       F      61934.00   5161.167
5  Staff              F      64478.67   5373.222
6  Technique Leader   F      56014.25   4667.854
7  Assistant Engineer M      56435.40   4702.950
8  Engineer           M      48283.46   4023.622
9  Senior Engineer    M      45194.67   3766.222
10 Senior Staff       M      57005.94   4750.495
11 Staff              M      52714.18   4392.848
12 Technique Leader   M      46553.86   3879.488

# More Cleaning of Data

In [52]:
library(tidyverse)

In [53]:
billboard <- read.csv(file  ='/Users/sahilnagpal/Downloads/billboard.csv')

In [54]:
billboard <- as.tibble(billboard)

In [55]:
billboard %>% gather(x1st.week:x76th.week , key = "week" , value = "Rank" , na.rm = TRUE) %>% 
arrange(artist.inverted)

     year artist.inverted
1    2000 2 Pac
2    2000 2 Pac
3    2000 2 Pac
4    2000 2 Pac
5    2000 2 Pac
6    2000 2 Pac
7    2000 2 Pac
8    2000 2Ge+her
9    2000 2Ge+her
10   2000 2Ge+her
11   2000 3 Doors Down
12   2000 3 Doors Down
13   2000 3 Doors Down
14   2000 3 Doors Down
15   2000 3 Doors Down
16   2000 3 Doors Down
17   2000 3 Doors Down
18   2000 3 Doors Down
19   2000 3 Doors Down
20   2000 3 Doors Down
21   2000 3 Doors Down
22   2000 3 Doors Down
23   2000 3 Doors Down
24   2000 3 Doors Down
25   2000 3 Doors Down
26   2000 3 Doors Down
27   2000 3 Doors Down
28   2000 3 Doors Down
29   2000 3 Doors Down
30   2000 3 Doors Down
⋮    ⋮    ⋮
5278 2000 Yankee Grey
5279 2000 Yankee Grey
5280 2000 Yankee Grey
5281 2000 Yankee Grey
5282 2000 Yankee Grey
5283 2000 Yankee Grey
5284 2000 Yankee Grey
5285 2000 Yankee Grey
5286 2000 Yearwood, Trisha
5287 2000 Yearwood, Trisha
5288 2000 Yearwood, Trisha
5289 2000 Yearwood, Trisha
5290 2000 Yearwood, Trisha
5291 2000 Yearwood, Trisha
5292 2000 Ying Yang Twins
5293 2000 Ying Yang Twins
5294 2000 Ying Yang Twins
5295 2000 Ying Yang Twins
5296 2000 Ying Yang Twins
5297 2000 Ying Yang Twins
5298 2000 Ying Yang Twins
5299 2000 Ying Yang Twins
5300 2000 Ying Yang Twins
5301 2000 Ying Yang Twins
5302 2000 Ying Yang Twins
5303 2000 Ying Yang Twins
5304 2000 Ying Yang Twins
5305 2000 Ying Yang Twins
5306 2000 Zombie Nation
5307 2000 Zombie Nation
     track                                                        time genre
1    Baby Don't Cry (Keep Ya Head Up II)                          4:22 Rap
2    Baby Don't Cry (Keep Ya Head Up II)                          4:22 Rap
3    Baby Don't Cry (Keep Ya Head Up II)                          4:22 Rap
4    Baby Don't Cry (Keep Ya Head Up II)                          4:22 Rap
5    Baby Don't Cry (Keep Ya Head Up II)                          4:22 Rap
6    Baby Don't Cry (Keep Ya Head Up II)                          4:22 Rap
7    Baby Don't Cry (Keep Ya Head Up II)                          4:22 Rap
8    The Hardest Part Of Breaking Up (Is Getting Back Your Stuff) 3:15 R&B
9    The Hardest Part Of Breaking Up (Is Getting Back Your Stuff) 3:15 R&B
10   The Hardest Part Of Breaking Up (Is Getting Back Your Stuff) 3:15 R&B
11   Kryptonite                                                   3:53 Rock
12   Loser                                                        4:24 Rock
13   Kryptonite                                                   3:53 Rock
14   Loser                                                        4:24 Rock
15   Kryptonite                                                   3:53 Rock
16   Loser                                                        4:24 Rock
17   Kryptonite                                                   3:53 Rock
18   Loser                                                        4:24 Rock
19   Kryptonite                                                   3:53 Rock
20   Loser                                                        4:24 Rock
21   Kryptonite                                                   3:53 Rock
22   Loser                                                        4:24 Rock
23   Kryptonite                                                   3:53 Rock
24   Loser                                                        4:24 Rock
25   Kryptonite                                                   3:53 Rock
26   Loser                                                        4:24 Rock
27   Kryptonite                                                   3:53 Rock
28   Loser                                                        4:24 Rock
29   Kryptonite                                                   3:53 Rock
30   Loser                                                        4:24 Rock
⋮    ⋮                                                            ⋮    ⋮
5278 Another Nine Minutes                                         3:10 Country
5279 Another Nine Minutes                                         3:10 Country
5280 Another Nine Minutes                                         3:10 Country
5281 Another Nine Minutes                                         3:10 Country
5282 Another Nine Minutes                                         3:10 Country
5283 Another Nine Minutes                                         3:10 Country
5284 Another Nine Minutes                                         3:10 Country
5285 Another Nine Minutes                                         3:10 Country
5286 Real Live Woman                                              3:55 Country
5287 Real Live Woman                                              3:55 Country
5288 Real Live Woman                                              3:55 Country
5289 Real Live Woman                                              3:55 Country
5290 Real Live Woman                                              3:55 Country
5291 Real Live Woman                                              3:55 Country
5292 Whistle While You Twurk                                      4:19 Rap
5293 Whistle While You Twurk                                      4:19 Rap
5294 Whistle While You Twurk                                      4:19 Rap
5295 Whistle While You Twurk                                      4:19 Rap
5296 Whistle While You Twurk                                      4:19 Rap
5297 Whistle While You Twurk                                      4:19 Rap
5298 Whistle While You Twurk                                      4:19 Rap
5299 Whistle While You Twurk                                      4:19 Rap
5300 Whistle While You Twurk                                      4:19 Rap
5301 Whistle While You Twurk                                      4:19 Rap
5302 Whistle While You Twurk                                      4:19 Rap
5303 Whistle While You Twurk                                      4:19 Rap
5304 Whistle While You Twurk                                      4:19 Rap
5305 Whistle While You Twurk                                      4:19 Rap
5306 Kernkraft 400                                                3:30 Rock
5307 Kernkraft 400                                                3:30 Rock
     date.entered date.peaked week       Rank
1    2000-02-26   2000-03-11  x1st.week  87
2    2000-02-26   2000-03-11  x2nd.week  82
3    2000-02-26   2000-03-11  x3rd.week  72
4    2000-02-26   2000-03-11  x4th.week  77
5    2000-02-26   2000-03-11  x5th.week  87
6    2000-02-26   2000-03-11  x6th.week  94
7    2000-02-26   2000-03-11  x7th.week  99
8    2000-09-02   2000-09-09  x1st.week  91
9    2000-09-02   2000-09-09  x2nd.week  87
10   2000-09-02   2000-09-09  x3rd.week  92
11   2000-04-08   2000-11-11  x1st.week  81
12   2000-10-21   2000-12-02  x1st.week  76
13   2000-04-08   2000-11-11  x2nd.week  70
14   2000-10-21   2000-12-02  x2nd.week  76
15   2000-04-08   2000-11-11  x3rd.week  68
16   2000-10-21   2000-12-02  x3rd.week  72
17   2000-04-08   2000-11-11  x4th.week  67
18   2000-10-21   2000-12-02  x4th.week  69
19   2000-04-08   2000-11-11  x5th.week  66
20   2000-10-21   2000-12-02  x5th.week  67
21   2000-04-08   2000-11-11  x6th.week  57
22   2000-10-21   2000-12-02  x6th.week  65
23   2000-04-08   2000-11-11  x7th.week  54
24   2000-10-21   2000-12-02  x7th.week  55
25   2000-04-08   2000-11-11  x8th.week  53
26   2000-10-21   2000-12-02  x8th.week  59
27   2000-04-08   2000-11-11  x9th.week  51
28   2000-10-21   2000-12-02  x9th.week  62
29   2000-04-08   2000-11-11  x10th.week 51
30   2000-10-21   2000-12-02  x10th.week 61
⋮    ⋮            ⋮           ⋮          ⋮
5278 2000-04-29   2000-05-20  x1st.week  86
5279 2000-04-29   2000-05-20  x2nd.week  83
5280 2000-04-29   2000-05-20  x3rd.week  77
5281 2000-04-29   2000-05-20  x4th.week  74
5282 2000-04-29   2000-05-20  x5th.week  83
5283 2000-04-29   2000-05-20  x6th.week  79
5284 2000-04-29   2000-05-20  x7th.week  88
5285 2000-04-29   2000-05-20  x8th.week  95
5286 2000-04-01   2000-04-29  x1st.week  85
5287 2000-04-01   2000-04-29  x2nd.week  83
5288 2000-04-01   2000-04-29  x3rd.week  83
5289 2000-04-01   2000-04-29  x4th.week  82
5290 2000-04-01   2000-04-29  x5th.week  81
5291 2000-04-01   2000-04-29  x6th.week  91
5292 2000-03-18   2000-04-29  x1st.week  95
5293 2000-03-18   2000-04-29  x2nd.week  94
5294 2000-03-18   2000-04-29  x3rd.week  91
5295 2000-03-18   2000-04-29  x4th.week  85
5296 2000-03-18   2000-04-29  x5th.week  84
5297 2000-03-18   2000-04-29  x6th.week  78
5298 2000-03-18   2000-04-29  x7th.week  74
5299 2000-03-18   2000-04-29  x8th.week  78
5300 2000-03-18   2000-04-29  x9th.week  85
5301 2000-03-18   2000-04-29  x10th.week 89
5302 2000-03-18   2000-04-29  x11th.week 97
5303 2000-03-18   2000-04-29  x12th.week 96
5304 2000-03-18   2000-04-29  x13th.week 99
5305 2000-03-18   2000-04-29  x14th.week 99
5306 2000-09-02   2000-09-02  x1st.week  99
5307 2000-09-02   2000-09-02  x2nd.week  99

In [56]:
dim(billboard)

[1] 317  83

In [82]:
tb.data <- read.csv(file  = '/Users/sahilnagpal/Downloads/tb.csv')

In [83]:
head(tb.data)

  country year m.014 m.1524 m.2534 m.3544 m.4554 m.5564 m.65 f.014 f.1524
1 AD      2000  0      0      1      0      0     0      0   NA     NA
2 AE      2000  2      4      4      6      5    12     10    3     16
3 AF      2000 52    228    183    149    129    94     80   93    414
4 AG      2000  0      0      0      0      0     0      1    1      1
5 AL      2000  2     19     21     14     24    19     16    3     11
6 AM      2000  2    152    130    131     63    26     21    1     24
  f.2534 f.3544 f.4554 f.5564 f.65
1  NA     NA     NA    NA     NA
2   1      3      0     0      4
3 565    339    205    99     36
4   1      0      0     0      0
5  10      8      8     5     11
6  27     24      8     8      4

In [84]:
tb.gathered <- tb.data %>% gather(m.014:f.65,key = "column" , value = "cases" , na.rm = TRUE)

In [85]:
tb.gathered <- tb.gathered %>% separate(col = column , c("Sex" , "AgeGroup")) %>% arrange(country)

Warning message:
“Expected 2 pieces. Missing pieces filled with `NA` in 2273 rows [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...].”

In [88]:
tb.sep

     country year Sex MinAge MaxAge cases
1    AD      2000 m   014    NA       0
2    AD      2000 m   1524   NA       0
3    AD      2000 m   2534   NA       1
4    AD      2000 m   3544   NA       0
5    AD      2000 m   4554   NA       0
6    AD      2000 m   5564   NA       0
7    AD      2000 m   65     NA       0
8    AE      2000 m   014    NA       2
9    AE      2000 m   1524   NA       4
10   AE      2000 m   2534   NA       4
11   AE      2000 m   3544   NA       6
12   AE      2000 m   4554   NA       5
13   AE      2000 m   5564   NA      12
14   AE      2000 m   65     NA      10
15   AE      2000 f   014    NA       3
16   AE      2000 f   1524   NA      16
17   AE      2000 f   2534   NA       1
18   AE      2000 f   3544   NA       3
19   AE      2000 f   4554   NA       0
20   AE      2000 f   5564   NA       0
21   AE      2000 f   65     NA       4
22   AF      2000 m   014    NA      52
23   AF      2000 m   1524   NA     228
24   AF      2000 m   2534   NA     183
25   AF      2000 m   3544   NA     149
26   AF      2000 m   4554   NA     129
27   AF      2000 m   5564   NA      94
28   AF      2000 m   65     NA      80
29   AF      2000 f   014    NA      93
30   AF      2000 f   1524   NA     414
⋮    ⋮       ⋮    ⋮   ⋮      ⋮      ⋮
2244 ZA      2000 f   5564   NA      167
2245 ZA      2000 f   65     NA       80
2246 ZM      2000 m   014    NA      349
2247 ZM      2000 m   1524   NA     2175
2248 ZM      2000 m   2534   NA     2610
2249 ZM      2000 m   3544   NA     3045
2250 ZM      2000 m   4554   NA      435
2251 ZM      2000 m   5564   NA      261
2252 ZM      2000 m   65     NA      174
2253 ZM      2000 f   014    NA      150
2254 ZM      2000 f   1524   NA      932
2255 ZM      2000 f   2534   NA     1118
2256 ZM      2000 f   3544   NA     1305
2257 ZM      2000 f   4554   NA      186
2258 ZM      2000 f   5564   NA      112
2259 ZM      2000 f   65     NA       75
2260 NA      2000 m   014    NA       18
2261 NA      2000 m   1524   NA      269
2262 NA      2000 m   2534   NA      874
2263 NA      2000 m   3544   NA      665
2264 NA      2000 m   4554   NA      300
2265 NA      2000 m   5564   NA      147
2266 NA      2000 m   65     NA       81
2267 NA      2000 f   014    NA       16
2268 NA      2000 f   1524   NA      352
2269 NA      2000 f   2534   NA      654
2270 NA      2000 f   3544   NA      348
2271 NA      2000 f   4554   NA      161
2272 NA      2000 f   5564   NA       76
2273 NA      2000 f   65     NA       52

In [96]:
temp.data <- read.csv(file  = '/Users/sahilnagpal/Downloads/weather.csv')
temp.data <- as.tibble(temp.data)

In [97]:
temp.data.new  <- spread(temp.data , key = element , value = value)

In [98]:
temp.data.new

   id      year month day TMAX TMIN
1  MX17004 2010  1    30  27.8 14.5
2  MX17004 2010  2     2  27.3 14.4
3  MX17004 2010  2     3  24.1 14.4
4  MX17004 2010  2    11  29.7 13.4
5  MX17004 2010  2    23  29.9 10.7
6  MX17004 2010  3     5  32.1 14.2
7  MX17004 2010  3    10  34.5 16.8
8  MX17004 2010  3    16  31.1 17.6
9  MX17004 2010  4    27  36.3 16.7
10 MX17004 2010  5    27  33.2 18.2
11 MX17004 2010  6    17  28.0 17.5
12 MX17004 2010  6    29  30.1 18.0
13 MX17004 2010  7     3  28.6 17.5
14 MX17004 2010  7    14  29.9 16.5
15 MX17004 2010  8     5  29.6 15.8
16 MX17004 2010  8     8  29.0 17.3
17 MX17004 2010  8    13  29.8 16.5
18 MX17004 2010  8    23  26.4 15.0
19 MX17004 2010  8    25  29.7 15.6
20 MX17004 2010  8    29  28.0 15.3
21 MX17004 2010  8    31  25.4 15.4
22 MX17004 2010 10     5  27.0 14.0
23 MX17004 2010 10     7  28.1 12.9
24 MX17004 2010 10    14  29.5 13.0
25 MX17004 2010 10    15  28.7 10.5
26 MX17004 2010 10    28  31.2 15.0
27 MX17004 2010 11     2  31.3 16.3
28 MX17004 2010 11     4  27.2 12.0
29 MX17004 2010 11     5  26.3 79.0
30 MX17004 2010 11    26  28.1 12.1
31 MX17004 2010 11    27  27.7 14.2
32 MX17004 2010 12     1  29.9 13.8
33 MX17004 2010 12     6  27.8 10.5