In [4]:
#a. Given a variable `x`, write a Boolean expression that evaluates to `TRUE` if the variable `x` is equal to `15743` (the numeric value).

x <- 15748
if(x==15743){
    TRUE
}else{
    FALSE
}

[1] FALSE

In [10]:
#b. Given a variable `x`, write a Boolean expression that evaluates to `TRUE` if the variable `x` is *not* `NA` (i.e., is not missing).[.5 mark]
x <- 3
if(!is.na(x)){
    TRUE
}else{
    FALSE
}

[1] TRUE

In [14]:
#c. Given `x`, write a Boolean expression that returns `TRUE` if and only if `x` is smaller than `-12` or bigger than `29`. [1 mark] 

x <- 30
if(x<(-12)|x>29){
    TRUE
}else{
    FALSE
}

[1] TRUE

In [21]:
#d. Given an integer number `x`, write a Boolean expression that returns `TRUE` if and only if `x` is an **odd** number between -8 and 12 (inclusive) or an **even** number between 100 and 150 (exclusive).  [2 marks]
odd.seq <- seq(-9,12,2)
even.seq <- seq(100,150,2)
v <- c(odd.seq,even.seq)
x <-(140)
is.element(el = x , set = v)

[1] TRUE

In [33]:
#a. Create and output a vector called `v2` which includes the numbers from `7`-`15` where the `odd` numbers each appear `3` times and the `even` numbers each appear `5` times (Note: your code doesn't need to determine which numbers of odd or even, you can do that manually) [1 mark]

v1 <- c(7:15)
for(values in v1){
    if(values%%2==0){
        v2 <- append(x = v2 , values = rep(x = values,5))
    }else{
        v2 <- append(x = v2 , values = rep(x = values ,3))
    }
}

In [38]:
#b. Use an existing function to deterime if `bob` and `alice` have any prefences in common (at least one value is the same). This should return a single boolean value. [1 mark]
alice.prefs <- c("Twitter", "Chrome", "Mac", "Summer")
bob.prefs <- c("Facebook", "Chrome", "PC", "Summer")

any(alice.prefs == bob.prefs)

[1] TRUE

In [46]:
#c. Write a Boolean expression that checks whether each entry of `age` is missing.  Your expression should return a Boolean vector having the same length as `age`. [1 mark]
age <- c(18, NA, 25, 71, NA, 45, NA, NA, 18)
is.na(age)

[1] FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE

In [47]:
#d. Write code that returns the indexes of `age` that are missing as a vector. [1 mark]
which(is.na(age))

[1] 2 5 7 8

In [84]:
#d. Write code that uses negative indexes and your vector from `(f)` to return only the values of `age` that are *not* missing. (i.e., your code should result in a vector with elements: 18, 25, 71, 45, 18) [1 mark]
filled.vals <- age[-c(2,5,7,8)]
filled.vals

[1] 18 25 71 45 18

In [86]:
#f. Using the negation operator `!` and the `is.na()` function, write an expression that returns only the values of `age` that are *not* missing. (Should result in the same vector as `(g)`) [1 mark]
age[!is.na(age)]

[1] 18 25 71 45 18

In [96]:
#g. Generate a vector of 25 random uniform decimal numbers between `-25` and `25`.  Do the same for whole numbers. [1 marks]
uniform.vector <- runif(25,-25,25)

In [97]:
#h. Using one of the vectors from `(i)` create a third vector containing a sample (with replacement) of `10` numbers. [1 mark]
sample.vec <- sample(uniform.vector,size = 10 , replace = TRUE)

 [1] -12.605675  -7.020894  20.391000  -7.020894  24.717522  21.560425
 [7]  -9.658652  -9.658652  -5.334741  -5.334741

In [94]:
#i. Without sorting, calculate and output the mean of the vector created in `(i)` without the largest and smallest values [1 marks].
mean.sample.vec <- mean(sample.vec)
mean.sample.vec

[1] -0.06631814

In [98]:
#a. Create the following vectors [1 marks]

num <- sample(1:10,10)
sequence <- seq(1,10,0.5)
words <- c("this", "is", "super", "fun")
bool.vals <- c(TRUE, FALSE, TRUE, TRUE, FALSE, TRUE, FALSE, FALSE)

In [100]:
stuff <-  list(num = num,sequence = sequence,words = words,bool.vals = bool.vals)

In [114]:
stuff[["words"]][3]

[1] "super"

In [116]:
#a. Use the `CO2` data from the `datasets` package, and use head to view the top of the file.  [0.5 marks] 
library(datasets)
head(CO2)

  Plant Type   Treatment  conc uptake
1 Qn1   Quebec nonchilled  95  16.0
2 Qn1   Quebec nonchilled 175  30.4
3 Qn1   Quebec nonchilled 250  34.8
4 Qn1   Quebec nonchilled 350  37.2
5 Qn1   Quebec nonchilled 500  35.3
6 Qn1   Quebec nonchilled 675  39.2

In [119]:
#b. Use base R, output the following subsets of the data frame

#- Just the `conc` column. [0.5 mark]

head(CO2["conc"])

  conc
1  95
2 175
3 250
4 350
5 500
6 675

In [120]:
#- Just the `fifth` row. [0.5 mark]
CO2[5,]

  Plant Type   Treatment  conc uptake
5 Qn1   Quebec nonchilled 500  35.3

In [121]:
# - The first `5` rows. [0.5 mark]
CO2[1:5,]

  Plant Type   Treatment  conc uptake
1 Qn1   Quebec nonchilled  95  16.0
2 Qn1   Quebec nonchilled 175  30.4
3 Qn1   Quebec nonchilled 250  34.8
4 Qn1   Quebec nonchilled 350  37.2
5 Qn1   Quebec nonchilled 500  35.3

In [122]:
#- Rows `10` to `15`. [0.5 mark]
CO2[10:15,]

   Plant Type   Treatment  conc uptake
10 Qn2   Quebec nonchilled  250 37.1
11 Qn2   Quebec nonchilled  350 41.8
12 Qn2   Quebec nonchilled  500 40.6
13 Qn2   Quebec nonchilled  675 41.4
14 Qn2   Quebec nonchilled 1000 44.3
15 Qn3   Quebec nonchilled   95 16.2

In [135]:
#- The `plant`, `Treatment` and `uptake` columns [0.5 mark]
#CO2[c(1,3,5)]
CO2[,c("Plant","Treatment","uptake")]

   Plant Treatment
1  Qn1   nonchilled
2  Qn1   nonchilled
3  Qn1   nonchilled
4  Qn1   nonchilled
5  Qn1   nonchilled
6  Qn1   nonchilled
7  Qn1   nonchilled
8  Qn2   nonchilled
9  Qn2   nonchilled
10 Qn2   nonchilled
11 Qn2   nonchilled
12 Qn2   nonchilled
13 Qn2   nonchilled
14 Qn2   nonchilled
15 Qn3   nonchilled
16 Qn3   nonchilled
17 Qn3   nonchilled
18 Qn3   nonchilled
19 Qn3   nonchilled
20 Qn3   nonchilled
21 Qn3   nonchilled
22 Qc1   chilled
23 Qc1   chilled
24 Qc1   chilled
25 Qc1   chilled
26 Qc1   chilled
27 Qc1   chilled
28 Qc1   chilled
29 Qc2   chilled
30 Qc2   chilled
⋮  ⋮     ⋮
55 Mn2   nonchilled
56 Mn2   nonchilled
57 Mn3   nonchilled
58 Mn3   nonchilled
59 Mn3   nonchilled
60 Mn3   nonchilled
61 Mn3   nonchilled
62 Mn3   nonchilled
63 Mn3   nonchilled
64 Mc1   chilled
65 Mc1   chilled
66 Mc1   chilled
67 Mc1   chilled
68 Mc1   chilled
69 Mc1   chilled
70 Mc1   chilled
71 Mc2   chilled
72 Mc2   chilled
73 Mc2   chilled
74 Mc2   chilled
75 Mc2   chilled
76 Mc2   chilled
77 Mc2   chilled
78 Mc3   chilled
79 Mc3   chilled
80 Mc3   chilled
81 Mc3   chilled
82 Mc3   chilled
83 Mc3   chilled
84 Mc3   chilled

In [138]:
#- The rows where `Treatment` equals `chilled` [0.5 mark]
CO2[CO2$Treatment == "chilled",]

   Plant Type        Treatment conc uptake
22 Qc1   Quebec      chilled     95 14.2
23 Qc1   Quebec      chilled    175 24.1
24 Qc1   Quebec      chilled    250 30.3
25 Qc1   Quebec      chilled    350 34.6
26 Qc1   Quebec      chilled    500 32.5
27 Qc1   Quebec      chilled    675 35.4
28 Qc1   Quebec      chilled   1000 38.7
29 Qc2   Quebec      chilled     95  9.3
30 Qc2   Quebec      chilled    175 27.3
31 Qc2   Quebec      chilled    250 35.0
32 Qc2   Quebec      chilled    350 38.8
33 Qc2   Quebec      chilled    500 38.6
34 Qc2   Quebec      chilled    675 37.5
35 Qc2   Quebec      chilled   1000 42.4
36 Qc3   Quebec      chilled     95 15.1
37 Qc3   Quebec      chilled    175 21.0
38 Qc3   Quebec      chilled    250 38.1
39 Qc3   Quebec      chilled    350 34.0
40 Qc3   Quebec      chilled    500 38.9
41 Qc3   Quebec      chilled    675 39.6
42 Qc3   Quebec      chilled   1000 41.4
64 Mc1   Mississippi chilled     95 10.5
65 Mc1   Mississippi chilled    175 14.9
66 Mc1   Mississippi chilled    250 18.1
67 Mc1   Mississippi chilled    350 18.9
68 Mc1   Mississippi chilled    500 19.5
69 Mc1   Mississippi chilled    675 22.2
70 Mc1   Mississippi chilled   1000 21.9
71 Mc2   Mississippi chilled     95  7.7
72 Mc2   Mississippi chilled    175 11.4
73 Mc2   Mississippi chilled    250 12.3
74 Mc2   Mississippi chilled    350 13.0
75 Mc2   Mississippi chilled    500 12.5
76 Mc2   Mississippi chilled    675 13.7
77 Mc2   Mississippi chilled   1000 14.4
78 Mc3   Mississippi chilled     95 10.6
79 Mc3   Mississippi chilled    175 18.0
80 Mc3   Mississippi chilled    250 17.9
81 Mc3   Mississippi chilled    350 17.9
82 Mc3   Mississippi chilled    500 17.9
83 Mc3   Mississippi chilled    675 18.9
84 Mc3   Mississippi chilled   1000 19.9

In [140]:
#- The rows where `Treatment` equals `chilled` and `uptake` <`10` [0.5 mark]
CO2[CO2$Treatment == "chilled" & CO2$uptake <10,]

   Plant Type        Treatment conc uptake
29 Qc2   Quebec      chilled   95   9.3
71 Mc2   Mississippi chilled   95   7.7

In [144]:
#c. Drop the `Type` column from the data frame [0.5 mark]
newCO2 <- CO2[-c(2)]

In [145]:
head(newCO2)

  Plant Treatment  conc uptake
1 Qn1   nonchilled  95  16.0
2 Qn1   nonchilled 175  30.4
3 Qn1   nonchilled 250  34.8
4 Qn1   nonchilled 350  37.2
5 Qn1   nonchilled 500  35.3
6 Qn1   nonchilled 675  39.2

In [148]:
#d. Add a column to the dataframe containing the results of `uptake`/`conc` [0.5 marks]

new.col <- CO2$uptake/CO2$conc
cbind(CO2,new.col)

   Plant Type        Treatment  conc uptake new.col
1  Qn1   Quebec      nonchilled   95 16.0   0.16842105
2  Qn1   Quebec      nonchilled  175 30.4   0.17371429
3  Qn1   Quebec      nonchilled  250 34.8   0.13920000
4  Qn1   Quebec      nonchilled  350 37.2   0.10628571
5  Qn1   Quebec      nonchilled  500 35.3   0.07060000
6  Qn1   Quebec      nonchilled  675 39.2   0.05807407
7  Qn1   Quebec      nonchilled 1000 39.7   0.03970000
8  Qn2   Quebec      nonchilled   95 13.6   0.14315789
9  Qn2   Quebec      nonchilled  175 27.3   0.15600000
10 Qn2   Quebec      nonchilled  250 37.1   0.14840000
11 Qn2   Quebec      nonchilled  350 41.8   0.11942857
12 Qn2   Quebec      nonchilled  500 40.6   0.08120000
13 Qn2   Quebec      nonchilled  675 41.4   0.06133333
14 Qn2   Quebec      nonchilled 1000 44.3   0.04430000
15 Qn3   Quebec      nonchilled   95 16.2   0.17052632
16 Qn3   Quebec      nonchilled  175 32.4   0.18514286
17 Qn3   Quebec      nonchilled  250 40.3   0.16120000
18 Qn3   Quebec      nonchilled  350 42.1   0.12028571
19 Qn3   Quebec      nonchilled  500 42.9   0.08580000
20 Qn3   Quebec      nonchilled  675 43.9   0.06503704
21 Qn3   Quebec      nonchilled 1000 45.5   0.04550000
22 Qc1   Quebec      chilled      95 14.2   0.14947368
23 Qc1   Quebec      chilled     175 24.1   0.13771429
24 Qc1   Quebec      chilled     250 30.3   0.12120000
25 Qc1   Quebec      chilled     350 34.6   0.09885714
26 Qc1   Quebec      chilled     500 32.5   0.06500000
27 Qc1   Quebec      chilled     675 35.4   0.05244444
28 Qc1   Quebec      chilled    1000 38.7   0.03870000
29 Qc2   Quebec      chilled      95  9.3   0.09789474
30 Qc2   Quebec      chilled     175 27.3   0.15600000
⋮  ⋮     ⋮           ⋮          ⋮    ⋮      ⋮
55 Mn2   Mississippi nonchilled  675 31.1   0.04607407
56 Mn2   Mississippi nonchilled 1000 31.5   0.03150000
57 Mn3   Mississippi nonchilled   95 11.3   0.11894737
58 Mn3   Mississippi nonchilled  175 19.4   0.11085714
59 Mn3   Mississippi nonchilled  250 25.8   0.10320000
60 Mn3   Mississippi nonchilled  350 27.9   0.07971429
61 Mn3   Mississippi nonchilled  500 28.5   0.05700000
62 Mn3   Mississippi nonchilled  675 28.1   0.04162963
63 Mn3   Mississippi nonchilled 1000 27.8   0.02780000
64 Mc1   Mississippi chilled      95 10.5   0.11052632
65 Mc1   Mississippi chilled     175 14.9   0.08514286
66 Mc1   Mississippi chilled     250 18.1   0.07240000
67 Mc1   Mississippi chilled     350 18.9   0.05400000
68 Mc1   Mississippi chilled     500 19.5   0.03900000
69 Mc1   Mississippi chilled     675 22.2   0.03288889
70 Mc1   Mississippi chilled    1000 21.9   0.02190000
71 Mc2   Mississippi chilled      95  7.7   0.08105263
72 Mc2   Mississippi chilled     175 11.4   0.06514286
73 Mc2   Mississippi chilled     250 12.3   0.04920000
74 Mc2   Mississippi chilled     350 13.0   0.03714286
75 Mc2   Mississippi chilled     500 12.5   0.02500000
76 Mc2   Mississippi chilled     675 13.7   0.02029630
77 Mc2   Mississippi chilled    1000 14.4   0.01440000
78 Mc3   Mississippi chilled      95 10.6   0.11157895
79 Mc3   Mississippi chilled     175 18.0   0.10285714
80 Mc3   Mississippi chilled     250 17.9   0.07160000
81 Mc3   Mississippi chilled     350 17.9   0.05114286
82 Mc3   Mississippi chilled     500 17.9   0.03580000
83 Mc3   Mississippi chilled     675 18.9   0.02800000
84 Mc3   Mississippi chilled    1000 19.9   0.01990000

In [151]:
#a. Generate a vector containing *50* random numbers between *-200* and *200* (with replacement). [1 mark]
rand.vec <- sample(x = -200:200,size = 50,replace = T)

In [155]:
#b. Write your own version of the absolute value function which accepts a vector, and uses the `ifelse` statement to create a new vector where all negative values are replaced with their positive equivalent, then returns the new vector. Use the vector in **(a)**, and output the results. [2 marks]
f<-vector()
for (number in rand.vec){
  if (number< 0){
    number = -number;
    f <- append(f,number)
  }
}
print(f)

 [1]  61 117 180   1 117 127 188 115   3 102 197   8 181 184  81  28   3 141   5
[20] 188   3  81   3  42  41  71

In [159]:
#c. Write a function (called `f1`), which accepts two values `(x,y)`. If `x` is even, divide by *2*.  If it’s odd, multiple by `y`. Use a complete if/else statement rather then ifelse. [2 marks]

f1 <- function(x,y){
    if(x%%2==0){
        x <- x/2
    }else{
        x <- x*y
    }
}

print(f1(3,3))

----OR----

funm <- function(x,y){
  if(x%%2==0){
    x <- x/2
    print(x)
  }else{
    x <- x*y
    print(x)
  }
  
}

[1] 9

In [ ]:
#d. Randomly generate two vectors (`x` should be *25* numbers between *1:100*, `y` should be *5* numbers between *1:10*, allow replacement in both). Use the `f1` function from **(c)** on these vectors to generate vector `z`.  Output `z`. [2 marks]

v1 <- sample(1:100,size = 25,replace = T)
v2 <- sample(1:10,size = 5,replace = T)
z <- vector()

f2 <- function(v1,v2){
    for values1 in v1{
        for values2 in v2{
            if(values1%%2==0){
                values1 <- 
            }
            
            
        }
    }
}

In [174]:
#e. Create a function that accepts two arguments, an integer and a vector of integers. It returns `TRUE` if the integer is present in the vector, otherwise it returns `FALSE`. Make sure you pay careful attention to your placement of the return(`FALSE`) line in your function. [2 marks]

vec <- c(1,2,3,4)
x <- 9

if(x %in% vec){
    print(TRUE)
}else{
    print(FALSE)
}

[1] FALSE

In [177]:
#f. Create a function that accepts two arguments, an integer and a vector of integers. It returns the count of the number of occurences of the integer in the input vector. [2 marks]

count <- 0
count.vals <- function(number , vectr){
    for (vals in vectr){
        if(vals == number){
            count <- count + 1
        }
    }
print(count)
}

count.vals(number = 2 , vectr = vectr <- c(1,2,3,4,5,2,2))

[1] 3